*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}
::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: rgb(73, 73, 73);        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(153, 103, 194);    /* color of the scroll thumb */
  border-radius: 10px;       /* roundness of the scroll thumb */
}

::-webkit-scrollbar-thumb:hover{
  background-color: rgb(187, 103, 255);
}